:root {
  --color_violet: #9500FF;
  --color_grey: #808080;
  --color_navy: #4D4DFF;
  --color_green: #39FF14;
  --color_blue: #00FEFC;
  --color_red: #FF1818;
  --color_brown: #C3732A;
  --color_orange: #FF5F1F;
  --color_yellow: #FFF01F;
  --color_tree: #66FF66;
  --color_road: #1B1B1B;
  --color_lines: #FBFFFF;
  --line: max(0.1vw, 0.1vh);
  --blur: max(0.73vw, 0.73vh);
  --stroke_blured: max(0.88vw, 0.88vh);
  --stroke_colored: max(0.4vw, 0.4vh);
  --stroke_white: max(0.059vw, 0.059vh);
  --height_car: max(15vw, 15vh);
  --light: calc(var(--height_car)/6);
  --tree: calc(var(--height_car)/3);
  --palm_tree: calc(var(--height_car)/2.4);
  --small_house: calc(var(--height_car)/2.48);
  --house: calc(var(--height_car)*0.75);
  --height_100: calc(100% - 2*var(--height_0)); /* 100% */
  --height_101: calc(100vh - 2*var(--height_0)); /* 100vh */
  --trans_color: color 0.5s ease-in-out; /* color transition */
}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time, mark,
u, p, input, label, textarea, select, option {
  color: var(--text_color);
  font-family: paganini, sans-serif;
  font-size: var(--height_0);
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  vertical-align: top;
  z-index: auto;
  box-sizing: border-box;
}

html,
body,
.wrap,
.row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1A1110;
}

#main_page {
  background-color: #1A1110;
  height: 100%;
}

.svg_pic svg  {
  height: 100%;
  position: absolute;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.svg_pic svg:nth-child(1) {
  filter: blur(var(--blur));
}

.svg_pic.car {
  height: var(--height_car);
  z-index: 99;
}

.svg_pic.car img {
  height: calc(var(--height_car) * 0.7);
}

.svg_pic.car svg:nth-child(1) path {
  stroke-width: var(--stroke_blured);
  fill: var(--color_road);
}
.svg_pic.car svg:nth-child(2) path {
  stroke-width: var(--stroke_colored);
}
.svg_pic.car svg:nth-child(3) path {
  stroke: var(--color_lines);
  stroke-width: var(--stroke_white);
}

.svg_pic.car svg path {
  transform: translate(calc(var(--stroke_blured)/2), calc(var(--stroke_blured)/2)) scale(0.7);
}

.svg_pic.car#main_car svg:nth-child(1) path {
  stroke-width: calc(var(--stroke_blured) * 1.5);
}
.svg_pic.car#main_car svg:nth-child(3) path {
  stroke-width: calc(var(--stroke_white) * 0.8);
}

.svg_pic.car#main_car svg:nth-child(1) path,
.svg_pic.car#main_car svg:nth-child(2) path {
  stroke: var(--color_yellow);
}

.svg_pic.car#car_1, .svg_pic.car#car_2 {
  position: absolute;
  display: none;
}

.road {
  position: absolute;
  top: 0;
  height: 1000%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  z-index: auto;
}

.road .road_sides {
  width: calc(var(--height_car)*1.6);
  background-color: var(--color_road);
  border-left: var(--line) var(--color_lines) solid;
  border-right: var(--line) var(--color_lines) solid;
  display: flex;
  justify-content: center;
}

.road .road_lines {
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--line);
  border: var(--line) var(--color_lines) dashed;
}

.svg_pic.light {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--light);
  width: var(--light);
  background-color: var(--color_lines);
  box-shadow: 0px 0px calc(var(--light) * 2) calc(var(--light) * 1.2) var(--color_lines);
  border-radius: 50%;
}

.lights_section {
  width: calc(var(--ligth));
  height: 100%;
  z-index: 999;
}
.lights_section:first-of-type {
  left: 0;
}
.lights_section:last-of-type {
  right: 0;
}

.svg_pic.decor {
  opacity: 0.4;
}

.svg_pic.tree img {
  height: var(--tree);
}

.svg_pic.palm_tree img {
  height: var(--palm_tree);
}

.svg_pic.house img {
  height: var(--house);
}

.svg_pic.small_house img {
  height: var(--small_house);
}

.decor_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
}
.decor_section.left_section {
  left: 0;
}
.decor_section.right_section {
  right: 0;
  transform: scaleX(-1);
}

.decor_section .decor_part {
  display: flex;
  flex-direction: row;
}

.decor_section .decor_part .tree_line,
.decor_section .decor_part .house_line {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.house_line .house_line_element .svg_pic.palm_tree,
.house_line .house_line_element .svg_pic.small_house {
  top: -1%;
}
.house_line_element + .house_line_element {
  margin-top: var(--tree);
}
.house_line_element.type_2 .svg_pic.palm_tree,
.house_line_element.type_2 .svg_pic.small_house {
  margin-top: calc(var(--tree)/3);
  top: 0;
}
.house_line_element.type_2 + .house_line_element.type_2 {
  margin-top: 0;
}
.tree_line .tree_line_element .svg_pic.tree {
  margin-top: calc(var(--tree)/2);
}
.tree_line_element {
  margin-top: var(--palm_tree);
}
